.mental-help {
  padding: 4px;
  &__title {
    height: 100vh;
    background-image: url("../../assets/images/field.jpg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__tips {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 60px;
    gap: 10px;
    background-image: url("../../assets/images/soil.avif");
    background-size: cover;
    .span-two-col {
      grid-column: span 2;
    }
    .span-two-row {
      grid-row: 1/3;
    }
    .span-full-col {
      grid-column: 1/5;
    }
    h1 {
      font-size: 2rem;
    }
    &--positive {
      background-color: #f4cac4;
      color: #b33c2d;
      padding: 8px;
      border-radius: 16px;
    }
    &--negative {
      background-color: #ee8b8b;
      color: #b33c2d;
      padding: 8px;
      border-radius: 16px;
    }
    &--hotline {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      .select {
        select {
          position: absolute;
          top: 40%;
          left: 4%;
          padding: 4px;
        }
      }
      .hotline {
        p {
          position: absolute;
          top: 45%;
          right: 30%;
          color: white;
          font-weight: 800;
          font-size: 2rem;
        }
      }
    }
  }
}
